/* ! General */
:root{
    /* fonts */
    --fuente: 'Outfit', sans-serif;;
    /* primary */
    --softBlue:hsl(215, 51%, 70%);
    --Cyan:hsl(178, 100%, 50%);
    /* neutral */
    --veryDarkBlue-main: hsl(217, 54%, 11%);
    --veryDarkBlue-card: hsl(216, 50%, 16%);
    --veryDarkBlue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* Esto para que 1rem = 10px */
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuente);
    font-size: 1.8rem;
    line-height: 1.5; /* interlineado */
    background-color: var(--veryDarkBlue-main);
}

/* ! Main content */

.content{
    width: 32rem;
    background-color: var(--veryDarkBlue-card);
    margin: 5rem auto;
    border-radius: 1rem;
}


/* ! Main image */
.content__img{
    width: 27rem;
    margin: 2.5rem;

    
}

.content__img > img{
    width: 27rem;
    border-radius: 1rem;
}

/* ! info */
.content__info{
    width: 27rem;
    margin: 2.5rem;
}


h1{
    color: var(--white);
    font-weight: 600;
}

h2{
    color: var(--white);
    font-weight: 300;
}





/* !Footer */
.attribution{ 
    font-size: 11px; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}
